<!DOCTYPE html>

<head>
    <title>Customize Tile</title>
</head>

<body>
    <h1>Customize User Dashboard</h1>

    <!-- Preview of the tile being edited -->
    <h2>Current Preview of the tile:</h2>
    <div th:each="asset : ${assetList}">
        <div th:remove="tag" th:utext="${asset.display()}"></div>
    </div>

    <!-- Selecting the asset to be edited -->
    <h2>Here are the assets that currently exist:</h2>
    <p>Select which one to edit:</p>

    <!-- Adding new assets -->
    <h2>Add a new asset:</h2>
    <form action="newasset" method="POST">
        <select name="type">
            <option th:each="assetType : ${assetTypes}" th:value="${assetType}" th:text="${assetType}"></option>
        </select>
        <input type="submit" name="submit">
    </form>

    <!-- Saving the dashboard -->
    <h2>Save the dashboard:</h2>
    <form action="save" method="POST">
        <input type="submit" name="Save Dashboard" value="Save the dashboard!">
    </form>

</body>

</html>