<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>
    <h1>User Dashboard</h1>
    <h2>Here are the pages that currently exist:</h2>
    <p>Select one:</p>
    <form action="page" method="POST">
        <select name="id">
            <option th:each="page : ${page}" th:value="${page.id}" th:text="${page.name}">
            </option>
        </select>
        <input type="submit" name="submit">
    </form>
    <h2>Add a new page:</h2>
    <form action="newpage" method="POST">
        <p>Name:</p><input type="text" name="name">
        <p>ID:</p><input type="number" name="id">
        <p></p><input type="submit" name="submit">
    </form>
    <h2>Save the dashboard:</h2>
    <form action="save" method="POST">
        <input type="submit" name="Save Dashboard" value="Save the dashboard!">
    </form>
</body>

</html>