<!DOCTYPE html>

<head>
    <title>Editing page: </title>
</head>

<body>
    <h1>Customize User Dashboard</h1>

    <!-- Creating a new asset -->
    <h2>Creating new asset:</h2>

    <!-- Thymeleaf switch to determine type of asset creation to show -->
    <th:block th:switch="${type}">

        <!-- Create an image asset type -->
        <div th:case="'image'">
            <form action='newimage' method='post'>
                Name: <input type='text' name='name'>
                Link to image: <input type='text' name='link'>
                Size x: <input type='number' name='xsize'>
                y: <input type='number' name='ysize'>
                Position x: <input type='number' name='xpos'> y: <input type='number' name='ypos'>
                <input type='submit' name='submit'>
            </form>
        </div>

        <!-- Create an list asset type -->
        <div th:case="'list'">
            <form action='newlist' method='post'>
                List Title: <input type='txt' name='name'>
                List Type: <input type='radio' name='type' value='unordered'>
                unordered <input type='radio' name='type' value='ordered'> ordered <input type='submit' name='submit'>
            </form>
        </div>

        <!-- Create a note asset type -->
        <div th:case="'note'">
            <form action='newnote' method='post'>
                Note Title: <input type='txt' name='name'>
                <input type='submit' name='submit'>
            </form>
        </div>
        
        <!-- Create a link asset type -->
        <div th:case="'link'">
            <form action='newlink' method='post'>
                Name: <input type='text' name='name'>
                Link to webpage: <input type='text' name='link'>
                <input type='submit' name='submit'>
            </form>
        </div>
    </th:block>
</body>

</html>
